<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>layouts/application.html</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
       <% if user_signed_in? %>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="container">
           <%= link_to "Bookers", root_path %>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
           aria-expanded="false" arialabel="Toggle navigation"></button>
           <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>
             <ul class="navbar-nav ml-auto">
               <li>
                 <%= link_to "Home", root_path %>
               </li>
             </ul>
           </div>
         </div>
       </nav>
     <li>
        <%= link_to 'Home', new_book_path %>
      </li>
      <li>
        <%= link_to "About", destroy_user_session_path, method: :delete %>
      </li>

      <li>
        <%= link_to "マイページ", user_path(current_user.id) %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    </header>


    <%= yield %>
  </body>
</html>
